$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$bg-grey: #EAEAEA;
$bg-secondary-grey:#F6F6F6;

* {
    box-sizing: border-box ;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}


    //Media query mobile first//
    @media (max-width: 768px) {

        /***HEADER***/
        header { 
            text-align: center;

            h1 {
            font-family: 'Shrikhand', cursive;
            padding: 13px 89px;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
            }
        }
        /***LOCALISATION***/
        .locate {
            background-color: $bg-grey;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
            input {
                border: none;
                padding-left: 17px;
                font-weight: 500;
                background-color: $bg-grey;  
            }

            ::placeholder {
                    font-weight: 500;
                    font-size: 16px;
                    color: black;
                    
                }

        }

        /***RESERVATION***/

        .reservation {
            background-color: $bg-secondary-grey;
            div {
                display: flex;
                justify-content: center; 

            }
            &__title{
                padding-top: 39px;
                padding-left: 42px;
                padding-right: 58px;
                text-align: center;
            }

            &__txt {
                font-weight: 300;
                font-size: 18px;
                padding:0 26px 27px 34px;
                text-align: center;
            }

            &__btn {
                display: flex;
                justify-content: center;
                align-items: center;

             a {
                background: linear-gradient(0deg, $color-primary,$color-secondary);
                border:none; 
                border-radius: 25px;
                color:white;
                width: 218px;
                height: 50px;
                padding: 13px 18px;
                margin: 0 75px 57px 82px;
                text-decoration: none;
            
                }
            }

        }

         /***FONCTIONNEMENT***/

        .fonction {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
                h2 {
                padding: 48px 80px 20px 20px;
                }

                &__title {
                    width: 100%;
                }

                h3 {
                background-color: $bg-secondary-grey;
                width: 100%;
                height: 72px;
                border-radius: 20px;
                box-shadow:0px 4px 15px rgba(0,0,0,0.15);
                display: flex;
                align-items: center;
                font-size: 16px;
                gap:20px;
                padding-left: 34px;       
                }

                &__general {
                        padding: 0 20px 68px 32px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap:30px;
                }

                p {
                        width: 24px;
                        height: 24px;
                        font-size: 14px;
                        border-radius: 20px;
                        color:white;
                        background-color: $color-primary;
                        display: flex;
                        justify-content: center;
                        align-items: center;  
                }

                &__subtitle {
                    position: relative;
                    width: 100%;
                }
                &__number {
                    position:absolute;
                        left:-8px;
                        top:24px;
                }

                i {
                    color: grey;
                }

                i:hover {
                    color: $color-primary;
                }
        }
            /***RESTAURANT***/

        .restaurant {
            background-color: $bg-secondary-grey;

            h2 {
                padding: 50px 20px 20px 20px;
                font-weight: 700;
                font-size: 24px;
            }

            &__cards{
                display: flex;
                flex-direction: column;
                padding: 0 20px 66px 20px;
                gap:18px;

            }

            .card {
                width: 100%;
                background-color: white;
                border-radius: 15px;
                box-sizing:content-box;
            }

            &__new {
                position: relative;
            }

             span {
                    background-color: $color-tertiary;
                    padding: 7px 9px;
                    color:#008706;
                    font-weight: 500;
                    font-size: 14px;
                    position: absolute;
                    right:12px;
                    top:10px;
                }

            .card img {
                width: 100%;
                height: 231px;
                border-radius: 15px 15px 0 0;
                object-fit: cover;
                
            }

            .content {
                display: flex;
                justify-content: space-between;
                padding: 12px 25px 12px 13px;
            }

            h3 {
             font-weight: 700;
             font-size: 18px;   
            }

            p{
             font-weight: 300;
             font-size: 17px;   
            }

            i {
                color:#353535;
                
            }
            
        }

        /**FOOTER***/
        footer {
            background-color: #353535;
            color:white;
            padding: 22px 25px;
            
            h3 {
                font-family:'Shrikhand', cursive;
                font-weight: 300;
                padding-bottom: 16px;
                
            }

            a {
                display: block;
                color:white;
                text-decoration: none;
                font-weight: 300;
                display: flex;
                gap: 10px;
                
                
            }
            .infofooter {
                display: flex;
                flex-direction: column;
                gap:7px;
            }
        }
                

       
        
    }

            
     
    
    