/**FOOTER***/
footer {
    background-color: #353535;
    color:white;
    padding: 22px 25px;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 25px;
        height: 114px;
        gap:80px;
        align-items: flex-end;
    }
    
    h3 {
        font-family:'Shrikhand', cursive;
        font-weight: 300;
        padding-bottom: 16px;
        @media (min-width:1024px) {
            padding: inherit;
        }
        
    }

    a {
        display: block;
        color:white;
        text-decoration: none;
        font-weight: 300;
        display: flex;
        gap: 10px;
        
        
    }
    .infofooter {
        display: flex;
        flex-direction: column;
        gap:7px;

        @media (min-width:1024px) {
            flex-direction: row;
            gap:20px;
        }
    }
}