@import '../utils/mixins';
@import '../utils/keyframes';

//Media query mobile first//

@media (max-width: 768px) {

header {
    position: relative;
    .return i {
        position: absolute;
        left:45px;
        top: 20px;
        color: black;
        
    }
}
.picture img {
    height: 275px;
    width: 100%;
    object-fit: cover;
    object-position: center 70%;
}

.main-restaurant {
    border-radius: 25px 25px 0 0;
    padding-top: 32px;
    padding-bottom: 0;
    background-color: $bg-secondary-grey;
    position: relative;
    margin-top: -30px;
    
    .title{
        position: relative;
        h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 400;
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 40px;
    }
        i{
            position: absolute;
            right:50px;  
        }
    }
}

.main_container {
    padding: 0 13px;
    //width: 100%;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;

    h3 {
        font-weight: 300;        
    
    &::after {
        content:"";
        border-bottom: solid $color-tertiary 3px;
        display: block;
        width: 40px;
        padding-top: 5px;
    }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 40px;

        //animation: showmenu 3s 1s both;

        &:nth-child(1){
            animation:showmenu 1s 1s both;
        }

        &:nth-child(2) {
            animation:showmenu 2s 1s both;
        }

        &:nth-child(3) {
            animation:showmenu 3s 1s both;
        }

        

        article {
            padding: 0;
            background-color: white;
            border-radius: 15px;
            display: flex;
            justify-content: space-between; 
            cursor: pointer;
            overflow: hidden;
            transition: all 500ms;
            @include card-shadow;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            
            
            &:hover {
                margin-right: 10px;
                overflow: visible;
                white-space: nowrap;
                text-overflow: ellipsis;

                .check {
                    width: 9vh;
                }
                

                i{
                    animation: rollcheck 400ms;
                }

                h3,p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis;  
                    
                }

                .menu__subtitle {
                    //margin-right: -88px;   
                    
                }
                             
            }
            
            

            h3 {
                font-weight: 500;
                
                &::after {
                    border-bottom: inherit;
                }
            }

            .menu__subtitle {
                padding:15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;  

                p, h3{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
   
            }

            .price {
                display: flex;
                align-items: flex-end;
    
                
                 p {
                    font-weight: 500;
                    padding-bottom: 15px;
                    margin-right: 20px;
                 }
            
            }
        
            p{
                font-weight: 300;
            }

            .check {
                background-color: $color-tertiary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 15px 15px 0;
                height: 100%;
                width: 0;
                //margin-right: -75px;

                i {                    
                    color:white;
                    &:hover{
                       
                     
                            
                    }  
                }
            }

        }
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        a {
            text-align: center;
            width: 186px;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
}






}