@import '../utils/mixins';
@import '../utils/keyframes';

//Media query mobile first//




.loader {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background:white;
    color:$color-tertiary;
    font-size: 50px;
    opacity: 0.9;
    animation: disappear 100ms 3s forwards;
    transform-origin: bottom;
    
    span {
        font-family: 'Shrikhand', cursive;
        animation: moveup 1s linear infinite;
    }

    span:nth-child(1) {
        animation:moveup 1s 100ms linear infinite ;
        color: $color-primary;
    }
    span:nth-child(2) {
        animation:moveup 1s 200ms linear infinite ;
        color: $color-primary;
    }
    span:nth-child(3) {
        animation:moveup 1s 300ms linear infinite ;
        color:$color-secondary;
    }
    span:nth-child(4) {
        animation:moveup 1s 400ms linear infinite ;
        color:$color-secondary;
    }
    span:nth-child(5) {
        animation:moveup 1s 500ms linear infinite ;
    }
    span:nth-child(6) {
        animation:moveup 1s 600ms linear infinite ;
    }
    span:nth-child(7) {
        animation:moveup 1s 700ms linear infinite ;
    }
    span:nth-child(8) {
        animation:moveup 1s 800ms linear infinite ;
    }
    span:nth-child(9) {
        animation:moveup 1s 900ms linear infinite ;
    }
    span:nth-child(10) {
        animation:moveup 1s 1s linear infinite ;
    }
    span:nth-child(11) {
        animation:moveup 1s 1100ms linear infinite ;
    }

    
    


}
header {
    position: relative;
    .return i {
        position: absolute;
        left:45px;
        top: 20px;
        color: black;
        
    }
}
.picture img {
    height: 275px;
    width: 100%;
    object-fit: cover;
    object-position: center 70%;
    @media (min-width:1024px) {
        object-position: center 60%;
    }
}

.main-restaurant {
    border-radius: 25px 25px 0 0;
    padding-top: 32px;
    padding-bottom: 0;
    background-color: $bg-secondary-grey;
    position: relative;
    margin-top: -30px;

    @media (min-width:1024px) {
        margin:0 180px;
        margin-top: -30px;
    }
    
    .title{
        position: relative;

    @media (min-width:1024px) {
        justify-content: center;
    }
       
        h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 400;
        padding-left: 17px;
        //padding-right: 17px;
        padding-bottom: 40px;
        @media (min-width:1024px) {
            text-align: center;
            padding-left:inherit;
        }
        }
        i{
            position: absolute;
            right:50px; 
            @media (min-width:1024px) {
                top:5px;
                left:30px;
            }
        }
    }
}

.main_container {
    padding: 0 13px;
    //width: 100%;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;

    

    h3 {
        font-weight: 300;        
    
    &::after {
        content:"";
        border-bottom: solid $color-tertiary 3px;
        display: block;
        width: 40px;
        padding-top: 5px;
    }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 40px;

        //animation: showmenu 3s 1s both;

        &:nth-child(1){
            animation:showmenu 1s 3s both;
        }

        &:nth-child(2) {
            animation:showmenu 2s 3s both;
        }

        &:nth-child(3) {
            animation:showmenu 3s 3s both;
        }

        

        article {
            padding: 0;
            background-color: white;
            border-radius: 15px;
            display: flex;
            justify-content: space-between; 
            cursor: pointer;
            overflow: hidden;
            transition: all 500ms;
            @include card-shadow;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            
            
            &:hover {
                margin-right: 10px;
                overflow: visible;
                white-space: nowrap;
                text-overflow: ellipsis;

                .check {
                    width: 9vh;
                }
                

                i{
                    animation: rollcheck 400ms;
                }

                h3,p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis;  
                    
                }

                        
            }
            
            

            h3 {
                font-weight: 500;
                
                &::after {
                    border-bottom: inherit;
                }
            }

            .menu__subtitle {
                padding:15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;  

                p, h3{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
   
            }

            .price {
                display: flex;
                align-items: flex-end;
    
                
                 p {
                    font-weight: 500;
                    padding-bottom: 15px;
                    margin-right: 20px;
                 }
            
            }
        
            p{
                font-weight: 300;
            }

            .check {
                background-color: $color-tertiary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 15px 15px 0;
                height: 100%;
                width: 0;
                
                i {                    
                    color:white;
                    
                }
            }

        }
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        a {
            text-align: center;
            width: 186px;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
}






